Repository kubernetes-sigs/controller-tools, pull requests merged in 2022-07, with the labels that each got.

#708 ✨ Bump k8s to Kubernetes v1.25.0-alpha.3
  go.mod
  go.sum
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#709 :sparkles: pkg/webhook: add support for reinvocationPolicy marker
  pkg/webhook/parser.go
  pkg/webhook/testdata/manifests.yaml
  pkg/webhook/testdata/valid/manifests.yaml
  pkg/webhook/testdata/valid/webhook.go
  pkg/webhook/testdata/webhook.go
  pkg/webhook/zz_generated.markerhelp.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#710 :running: golangci-lint: use revive instead of golint linter
  test.sh
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test
