Repository kubernetes-sigs/controller-tools, pull requests merged in 2022-06, with the labels that each got.

#687 :running: Simplify the LoadRootsWithConfig logic
  pkg/loader/loader.go
Labels: cncf-cla: yes, size/L, approved, lgtm

#679 ✨ crd/gen: sort FindKubeKinds
  pkg/crd/gen.go
  pkg/crd/gen_integration_test.go
  pkg/crd/testdata/gen/zoo/bar.example.com_zooes.v1beta1.yaml
  pkg/crd/testdata/gen/zoo/bar.example.com_zooes.yaml
  pkg/crd/testdata/gen/zoo/zoo_types.go
  pkg/schemapatcher/gen.go
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash, ok-to-test

#689 :bug: Allow setting PreserveUnknownFields at both type and field level
  pkg/crd/flatten.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#683 :bug: Add XPreserveUnknownFields to runtime.RawExtension
  pkg/crd/known_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, approved, size/XS, lgtm, tide/merge-method-squash, ok-to-test

#698 🐛 Fix crd flattening for structType marker to not create duplicate entries for XMapType
  pkg/crd/flatten.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, approved, size/XS, lgtm
