Repository kubernetes-sigs/controller-tools, pull requests merged in 2023-07, with the labels that each got.

#829 ✨ Return an error for duplicate generators
  pkg/genall/options.go
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#792 :bug: Change the type of `markers.Collector.byPackage`'s key from `string` to `*loader.Package`
  pkg/crd/parser_integration_test.go
  pkg/crd/testdata/multiple_versions/common.go
  pkg/crd/testdata/multiple_versions/testdata.kubebuilder.io_versionedresources.yaml
  pkg/crd/testdata/multiple_versions/v1beta1/types.go
  pkg/crd/testdata/multiple_versions/v1beta2/types.go
  pkg/markers/collect.go
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#828 ⚠ get rid of obsolete Go build tags // +build !ignore_autogenerated
  VERSIONING.md
  cmd/helpgen/main.go
  pkg/crd/markers/zz_generated.markerhelp.go
  pkg/crd/zz_generated.markerhelp.go
  pkg/deepcopy/gen.go
  pkg/deepcopy/testdata/zz_generated.deepcopy.go
  pkg/deepcopy/zz_generated.markerhelp.go
  pkg/genall/zz_generated.markerhelp.go
  pkg/rbac/zz_generated.markerhelp.go
  pkg/schemapatcher/zz_generated.markerhelp.go
  pkg/webhook/zz_generated.markerhelp.go
Labels: cncf-cla: yes, needs-ok-to-test, size/S, approved, lgtm
