Repository kubernetes-sigs/controller-tools, pull requests merged in 2024-11, with the labels that each got.

#1093 📖 Fix compatibility table
  README.md
Labels: cncf-cla: yes, size/S, approved, lgtm

#1015 :warning: Add support for encoding.TextMarshaler
  pkg/crd/schema.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/L, approved, lgtm, tide/merge-method-squash, ok-to-test

#1006 :sparkles: Handle word boundaries and add ellipsis for `MaxDescLen`
  pkg/crd/desc_visitor.go
  pkg/crd/desc_visitor_test.go
  pkg/crd/gen.go
  pkg/crd/gen_integration_test.go
  pkg/crd/testdata/gen/bar.example.com_foos_maxdesclen.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test
