Repository kubernetes-sigs/controller-tools, pull requests merged in 2024-09, with the labels that each got.

#1049 :bug: Allow CLI binaries to set a version
  .github/workflows/release.yaml
  Makefile
  pkg/version/version.go
  pkg/version/version_suite_test.go
  pkg/version/version_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test

#1002 ✨ Allow customizing generated webhook configuration's name
  pkg/webhook/parser.go
  pkg/webhook/parser_integration_test.go
  pkg/webhook/testdata/invalid-multiple-webhookconfigurations/cronjob_types.go
  pkg/webhook/testdata/invalid-multiple-webhookconfigurations/webhook.go
  pkg/webhook/testdata/valid-custom-name/cronjob_types.go
  pkg/webhook/testdata/valid-custom-name/manifests.yaml
  pkg/webhook/testdata/valid-custom-name/webhook.go
  pkg/webhook/zz_generated.markerhelp.go
Labels: cncf-cla: yes, approved, size/XL, lgtm, ok-to-test

#1057 🏃 Verify PR titles with shell script
  .github/workflows/verify.yml
  hack/verify-pr-title.sh
Labels: cncf-cla: yes, size/M, approved, lgtm

#1060 📖 github: update PR template
  .github/pull_request_template.md
Labels: cncf-cla: yes, approved, size/XS, lgtm

#1059 🌱 OWNERS: Promote chrischdi for being a reviewer
  OWNERS_ALIASES
Labels: cncf-cla: yes, approved, size/XS, lgtm

#1061 🐛 pkg/crd: fix type casting panic with new default `*types.Alias` with Go 1.23
  pkg/crd/schema.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#1050 :sparkles: Add selectablefield marker
  pkg/crd/markers/crd.go
  pkg/crd/markers/zz_generated.markerhelp.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
  pkg/crd/zz_generated.markerhelp.go
  pkg/genall/zz_generated.markerhelp.go
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test

#1067 🌱 pr-verify: use env var for passing the PR title
  .github/workflows/verify.yml
Labels: cncf-cla: yes, size/S, approved, lgtm
