Repository kubernetes-sigs/controller-tools, pull requests merged in 2024-10, with the labels that each got.

#1079 🐛 pkg/crd: fix a missed type casting panic with new *types.Alias
  pkg/crd/schema.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#1078 🐛 pkg/crd: support validation on type alias to basic types
  pkg/crd/schema.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1081 :bug: Handling Identical Kubebuilder Annotations in Different CRs with * Verbs
  pkg/rbac/parser.go
  pkg/rbac/testdata/controller.go
  pkg/rbac/testdata/role.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, tide/merge-method-squash, ok-to-test
