Repository kubernetes-sigs/controller-tools, pull requests merged in 2025-03, with the labels that each got.

#1154 ✨ Release envtest v1.33.0-alpha.2
  hack/envtest/_matrix/v1.33.0-alpha.2.yaml
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#1156 🌱 Promotion of envtest release for Kubernetes v1.33.0-alpha.2
  envtest-releases.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm

#1167 ⚠️Bump to k8s.io/* v0.33.0-alpha.3 and Golang v1.24
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
  go.mod
  go.sum
  pkg/crd/gen_integration_test.go
  pkg/version/version_test.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test
