Repository kubernetes-sigs/controller-tools, pull requests merged in 2025-01, with the labels that each got.

#1122 :bug: pkg/crd: fix alias type parsing for struct type alias
  pkg/crd/schema.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1118 🌱 Allow string validation on XIntOrString
  pkg/crd/markers/validation.go
  pkg/crd/testdata/cronjob_types.go
  pkg/crd/testdata/testdata.kubebuilder.io_cronjobs.yaml
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1120 🌱 Test DeepCopy of contained non-pointer types
  pkg/deepcopy/testdata/cronjob_types.go
  pkg/deepcopy/testdata/zz_generated.deepcopy.go
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#1119 🐛 Guard before type assertion
  pkg/deepcopy/testdata/cronjob_types.go
  pkg/deepcopy/traverse.go
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#1132 🌱Bump golangci-lint to v1.63.4
  .github/workflows/golangci-lint.yml
  .golangci.yml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test

#1127 📖 Add v0.17 to compatibility table
  README.md
Labels: cncf-cla: yes, approved, size/XS, lgtm

#1138 🌱 Add JoelSpeed to reviewers
  OWNERS_ALIASES
Labels: cncf-cla: yes, approved, size/XS, lgtm

#1141 :bug: fix minor typo in `kubebuilder`
  pkg/webhook/testdata/invalid-admissionReviewVersionsRequired/manifests.yaml
  pkg/webhook/testdata/invalid-admissionReviewVersionsRequired/webhook.go
  pkg/webhook/testdata/invalid-multiple-webhookconfigurations/webhook.go
  pkg/webhook/testdata/invalid-path-and-url/webhook.go
  pkg/webhook/testdata/invalid-sideEffects/manifests.yaml
  pkg/webhook/testdata/invalid-sideEffects/webhook.go
  pkg/webhook/testdata/invalid-timeoutSeconds/manifests.yaml
  pkg/webhook/testdata/invalid-timeoutSeconds/webhook.go
  pkg/webhook/testdata/invalid-v1beta1NotSupported/manifests.yaml
  pkg/webhook/testdata/invalid-v1beta1NotSupported/webhook.go
  pkg/webhook/testdata/manifests.yaml
  pkg/webhook/testdata/valid-custom-name/manifests.yaml
  pkg/webhook/testdata/valid-custom-name/webhook.go
  pkg/webhook/testdata/valid-ordered/manifests.yaml
  pkg/webhook/testdata/valid-ordered/webhook.go
  pkg/webhook/testdata/valid-url/manifests.yaml
  pkg/webhook/testdata/valid-url/webhook.go
  pkg/webhook/testdata/valid/manifests.yaml
  pkg/webhook/testdata/valid/webhook.go
  pkg/webhook/testdata/webhook.go
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#1128 ✨ Allow customizing generated webhook K8s Service
  pkg/webhook/parser.go
  pkg/webhook/parser_integration_test.go
  pkg/webhook/testdata/valid-custom-service/cronjob_types.go
  pkg/webhook/testdata/valid-custom-service/manifests.yaml
  pkg/webhook/testdata/valid-custom-service/webhook.go
  pkg/webhook/zz_generated.markerhelp.go
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test
