Repository kubernetes-sigs/controller-tools, pull requests merged in 2025-06, with the labels that each got.

#1212 ✨ crd/marker: add AtMostOneOf and ExactlyOneOf constraints
  .gitignore
  go.mod
  go.sum
  pkg/crd/markers/validation.go
  pkg/crd/markers/zz_generated.markerhelp.go
  pkg/crd/parser_integration_test.go
  pkg/crd/schema.go
  pkg/crd/testdata/oneof/types.go
  pkg/crd/testdata/oneof_error/types.go
  pkg/crd/testdata/testdata.kubebuilder.io_oneofs.yaml
  pkg/crd/validation_test.go
Labels: cncf-cla: yes, approved, size/XL, lgtm, tide/merge-method-squash, ok-to-test

#1218 :bug: Applyconfiguration: Use correct groupVersion
  pkg/applyconfiguration/applyconfiguration_integration_test.go
  pkg/applyconfiguration/gen.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/cronjob.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/utils.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/cronjob_types.go
  pkg/crd/parser.go
  pkg/internal/crd/crd.go
Labels: cncf-cla: yes, size/L, approved, lgtm

#1221 🐛 Applyconfiguration: register CRD markers
  pkg/applyconfiguration/applyconfiguration_integration_test.go
  pkg/applyconfiguration/gen.go
Labels: cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1215 ✨ Release envtest v1.34.0-alpha.1
  hack/envtest/_matrix/v1.34.0-alpha.1.yaml
Labels: cncf-cla: yes, approved, size/XS, lgtm, ok-to-test

#1223 🌱 Promotion of envtest release for Kubernetes v1.34.0-alpha.1
  envtest-releases.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm

#1225 🌱Bump to k8s.io/* v0.34.0-alpha.2
  go.mod
  go.sum
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/associativetype.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/containsnestedmap.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/cronjob.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/cronjobspec.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/cronjobstatus.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/duration.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/embeddedstruct.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/empiableobject.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/exportedstruct.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/justnestedobject.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/minmaxobject.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/nestedobject.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/nestedstructwithseveralfields.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/preserved.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/rootobject.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/unexportedstruct.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/utils.go
  pkg/applyconfiguration/testdata/cronjob/go.mod
  pkg/applyconfiguration/testdata/cronjob/go.sum
Labels: cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#1226 :seedling: Fix AC generation so it builds and test all submodules
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/cronjobspec.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/api/v1/unexportedstruct.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/applyconfiguration/utils.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/cronjob_types.go
  pkg/applyconfiguration/testdata/cronjob/api/v1/groupversion_info.go
  pkg/crd/testdata/internal_version/internal_types.go
  test.sh
Labels: cncf-cla: yes, size/M, approved, lgtm

#1224 🐛markers/OneOf: make order deterministic relative to XValidation
  pkg/crd/markers/validation.go
  pkg/crd/testdata/oneof/types.go
  pkg/crd/testdata/testdata.kubebuilder.io_oneofs.yaml
Labels: cncf-cla: yes, size/S, approved, lgtm, ok-to-test
